:root{
    --color1: #c0a886;
    --color2: #e2dbc8;
    --color3: #936039ab;
    --default_padding: 1rem;
    --default_font: 'Courier New', Courier, monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted green;

}
body{
        height: 100dvh;
        display: flex;
        flex-direction: column;
        background: var(--color1);
}
header{
    height: 4rem;
    font:bold 1rem var(--default_font);
    background: var(--color1);
    padding: 0.5rem;
}
nav{
    padding: 0rem;
    background: var(--color1);
    margin-left: 7dvw;
    display: flex;
}
.tab{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.tab.active {
  background: var(--color2);
  color: #000;
}
main{
    flex-grow: 5;
    width: 90dvw; 
    margin-left: 7dvw;
    padding: var(--default_padding);
    color: rgb(0, 0, 0);
    background: var(--color2);
    display:grid;
    place-content:top;
    }
#home_image{
    display:flex;
    place-content: center;

}

#about_main_article{
    width: 50dvw;
    padding: var(--default_padding);
    display:grid;
    place-content:center;
}
#about_main_section{
    padding: 0rem;
}
#about_content{
    width: 25dvw;
    margin-top: 10px;
    
    
}
.place_section{
    display: flex;
    flex-direction: row;
    gap:3rem;
}
#about_article img{
    width: 100%;
    display: inline-block;
    border: 1px solid var(--color3);
}
#about_article{
    background: var(--color2);
    }
#fun_facts_main_section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
p{
    padding: 5px 5px 5px 10px;
    background: var(--color2);
    border: 1px solid var(--color3);
}   
footer{
    height: 3rem;
    background: var(--color1);
    padding: 0.5rem;
}