*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dotted green;

}
body{
        height: 100dvh;
        display: flex;
        flex-direction: column;
        background: #c0a886;
}
header{
    height: 4rem;
    font:bold 1rem 'Courier New', Courier, monospace;
    background: #c0a886;
    padding: 0.5rem;
}
nav{
    padding: 0rem;
    background: #c0a886;
    margin-left: 7dvw;
    display: flex;
}
.tab{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.tab.active {
  background: #e2dbc8;
  color: #000;
}
main{
    flex-grow: 5;
    width: 90dvw; 
    margin-left: 7dvw;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: #e2dbc8;
    display:grid;
    place-content:top;
    }
#home_image{
    display:flex;
    place-content: center;

}

#about_main_article{
    width: 50dvw;
    padding: 1rem;
    display:grid;
    place-content:center;
}
#about_main_section{
    padding: 0rem;
}
#about_content{
    width: 25dvw;
    margin-top: 10px;
    
    
}
.place_section{
    display: flex;
    flex-direction: row;
    gap:3rem;
}
#about_article img{
    width: 100%;
    display: inline-block;
    border: 1px solid #936039ab;
}
#about_article{
    background: #e2dbc8;
    }
#fun_facts_main_section{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
p{
    padding: 5px 5px 5px 10px;
    background: #f6f0e8;
    border: 1px solid #936039ab;
}   
footer{
    height: 3rem;
    background: #c0a886;
    padding: 0.5rem;
}